.hidden {
	display: none;
}
.input-block {
	position: relative;
	height:   32px;
}
.js-grid-container input[type=text],
.input-block input.default {
	position:      absolute;
	top:           3px;
	left:          0;
	width:         100%;
	height:        26px;
	background:    #FFFFFF;
	padding:       0 10px;
	border:        1px solid #555555;
	box-sizing:    border-box;
	border-radius: 5px;
	outline:       none;
}
.js-grid-container input[type=text]:focus,
.input-block input.default:focus {
	border: 1px solid #2374A1;
}
.input-block input.default + label {
	position: absolute;
	z-index:  1;
	top:      7px;
	left:     10px;
	color:    #777777;
	padding:  0 5px;
}
.input-block input.default:focus + label {
	color: #2374A1;
}
.input-block input.default:focus + label,
.input-block input.default:not(:placeholder-shown) + label {
	top:       -5px;
	left:      7px;
	font-size: 12px;
}
.input-block input.default:focus + label:before,
.input-block input.default:not(:placeholder-shown) + label:before {
	content:          " ";
	z-index:          -1;
	top:              8px;
	left:             0;
	position:         absolute;
	width:            100%;
	height:           2px;
	background-color: #FFFFFF;
}
.input-block input.default, label {
	transition:         ease-in-out 0.2s;
	-webkit-transition: ease-in-out 0.2s;
	-moz-transition:    ease-in-out 0.2s;
	-o-transition:      ease-in-out 0.2s;
}
.d-panel {
	box-shadow:    inset 4px 4px 10px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	box-sizing:    border-box;
}
.d-panel.action {
	background: #FCFEFF;
}
.d-panel.content {
	background: #F8FCFF;
}
.btn {
	position:      absolute;
	width:         100px;
	height:        26px;
	background:    #FFFFFF;
	border:        1px solid #555555;
	box-sizing:    border-box;
	border-radius: 5px;
}
.btn:hover {
	cursor: pointer;
	color:  #22539C;
	border: 1px solid #2374A1;
}
#loader {
	display:          none;
	background-color: rgba(152, 188, 229, 0.84);
	z-index:          999;
	width:            100%;
	height:           100vh;
	position:         absolute;
	top:              0;
	left:             0;
	opacity:          0.8;
}
#loader img {
	width:       70px;
	height:      70px;
	position:    absolute;
	bottom:      50%;
	margin-top:  -35px;
	left:        50%;
	margin-left: -35px;
	z-index:     2000;
}
/**------------------ MAIN & ADDITIONAL POPUPS --------------------**/
#additional-popup,
#main-popup {
	min-height:       768px;
	min-width:        1024px;
	width:            100%;
	height:           100%;
	top:              0;
	left:             0;
	display:          none;
	position:         absolute;
	background-color: #2d3748;
	z-index:          900;
	overflow:         auto;
	text-align:       center;
}
#additional-popup { z-index: 920; }
#additional-popup .popup-wrapper,
#main-popup .popup-wrapper {
	min-height: 130px;
	padding:    0;
	margin:     150px auto;
	z-index:    910;
	background: #6b7280;
	max-width:  900px;
}
#additional-popup .popup-wrapper {
	margin:     250px auto;
	max-width:  600px;
	min-height: 100px;
}
#additional-popup .popup-close-button,
#main-popup .popup-close-button { height: 36px; }
#additional-popup .popup-close-button span,
#main-popup .popup-close-button span {
	position:     relative;
	margin-top:   6px;
	margin-right: 6px;
	width:        18px;
	height:       18px;
	cursor:       pointer !important;
	z-index:      100;
	float:        right;
}
#additional-popup .popup-close-button span:after,
#additional-popup .popup-close-button span:before,
#main-popup .popup-close-button span:after,
#main-popup .popup-close-button span:before {
	position:         absolute;
	content:          "";
	width:            2px;
	height:           18px;
	background-color: #22539C;
}
#additional-popup .popup-close-button span:hover:after,
#additional-popup .popup-close-button span:hover:before,
#main-popup .popup-close-button span:hover:after,
#main-popup .popup-close-button span:hover:before { background-color: #3B3C5A; }
#additional-popup .popup-close-button span:before,
#main-popup .popup-close-button span:before { transform: rotate(45deg); }
#additional-popup .popup-close-button span:after,
#main-popup .popup-close-button span:after { transform: rotate(-45deg); }
#additional-popup .popup-content,
#main-popup .popup-content {
	min-height:       100px;
	background-color: #FFFFFF;
}
#additional-popup .popup-title,
#main-popup .popup-title {
	position:     absolute;
	margin-top:   -34px;
	font-style:   normal;
	font-weight:  normal;
	line-height:  35px;
	color:        #000;
	text-align:   left;
	padding-left: 20px;
}
#additional-popup .popup-wrapper .popup-panel,
#main-popup .popup-wrapper .popup-panel {
	width:            100%;
	min-height:       100px;
	margin:           8px auto 22px;
	padding:          2px 20px 15px;
	box-sizing:       border-box;
	text-align:       left;
	background-color: #2d3748;
}
#additional-popup .popup-wrapper .popup-panel .panel-row,
#main-popup .popup-wrapper .popup-panel .panel-row {}
#additional-popup .popup-wrapper .popup-panel .panel-row.popup-text,
#main-popup .popup-wrapper .popup-panel .panel-row.popup-text { height: auto; }
#additional-popup .popup-wrapper .popup-panel .panel-row.popup-text,
#main-popup .popup-wrapper .popup-panel .panel-row.popup-text {
	font-weight: normal;
	line-height: 23px;
	color:       #000000;
}
.hidden { display: none; }